html{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100hv;
    background: #555;
}

.form-box{
    width: 1200px;
    height: 600px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
}

.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #a95c10;
    border-radius: 30px;
}

.toggle-btn{
    padding: 10px 30px;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    text-align: center;
}

p{
	position: relative;
    color: #a95c10;
}

#btn{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #a95c10, #e99f34);
    border-radius: 30px;
    transition: .5s;
}

.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.table-group{
    top: 180px;
    position: absolute;
    width: 700px;
    height: 350px;
    transition: .5s;
    overflow: scroll;
}

table{
    width: 100%;
}

table, th, td{
    border: 1px solid #a95c10;
    border-collapse: collapse;
    padding: 10px;
    text-align: left;
}

th{
    position: sticky;
    background: #e99f34;
    top: 0px;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #7d2f0d;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #a95c10, #e99f34);
    border: 0;
    outline: none;
    border-radius: 30px;
}

#save{
    left: 50px;
}

#show{
    left: 450px;
}